<h2>User Listing</h2>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Profile', "#{AccountServer}/users/#{user.id}" %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @users %>